@tailwind base;
@tailwind components;
@tailwind utilities;


::root {
  --icon-size: 74px;
  --automation-animation-logo: 160px;
}

@media (max-width: 700px) {
  ::root {
    --icon-size: 64px;
    --automation-animation-logo: 128px;
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .benefits-circle-gradient-left {
  background: radial-gradient(40% 40% at 40% 40%, #444cf722 0%, transparent -100%), radial-gradient(40% 40% at 60% 60%, #8a5dff22 0%, transparent 100%);
  height: 900px;
  top: 0px;
  bottom: 0px;
  left: -30px;
  z-index: 1;
  width: 600px;
  position: absolute;
  transform: rotate(35deg) translateX(100px) scale(2)
}

.benefits-circle-gradient-right {
  background: radial-gradient(40% 40% at 40% 40%, #444cf722 0%, transparent 100%), radial-gradient(40% 40% at 60% 60%, #8a5dff22 0%, transparent 100%);
  height: 900px;
  top: 0px;
  bottom: 0px;
  right: 30px;
  z-index: 1;
  width: 600px;
  position: absolute;
  transform: rotate(-35deg) translateX(-500px) scale(2) translateY(570px)
}

.benefits-circle-gradient-left-2 {
  background: radial-gradient(40% 40% at 40% 40%, #444cf722 0%, transparent -100%), radial-gradient(40% 40% at 60% 60%, #8a5dff22 0%, transparent 100%);
  height: 900px;
  top: 0px;
  bottom: 0px;
  left: -30px;
  z-index: 1;
  width: 600px;
  position: absolute;
  transform: rotate(35deg) translateX(800px) scale(2) translateY(700px)
} */

.header-transparency::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(9px);
  z-index: 1;
}

.light-bg {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.rgba {
  background-color: rgba(46, 204, 113, 0.2);
}

.rgba-dark {
  background-color: rgba(46, 52, 175, 0.15);
}

.screen-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15) 3px,
      transparent 3px,
      transparent 9px);
  background-size: 100% 9px;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  animation: pan-overlay 20s linear infinite;
  position: absolute;
  left: 0px;
  top: 0px;
}

.screen-overlay-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15) 3px,
      transparent 3px,
      transparent 9px);
  background-size: 100% 9px;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  animation: pan-overlay 20s linear infinite;
  position: absolute;
  left: 0px;
  top: 0px;
}

.button-gradient {
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%)
}

.pricing-card-background {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
}

.pricing-card-background-main {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.13));
}

.enterprise-card {
  position: relative;
  margin: 0px auto;
  margin-top: 120px;
  max-width: 792px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: linear-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.02));
}

.enterprise-card-light-1 {
  left: -42px;
  top: -98px;
  pointer-events: none;
  user-select: none;
  position: absolute;
  width: 518px;
  height: 346px;
  transform: translateZ(0px);
  filter: blur(150px);
  background: rgb(86, 72, 192);
  opacity: 0.2;
}

.enterprise-card-light-2 {
  right: -149px;
  bottom: -71px;
  pointer-events: none;
  user-select: none;
  position: absolute;
  width: 518px;
  height: 346px;
  transform: translateZ(0px);
  filter: blur(150px);
  background: rgb(50, 27, 108);
  opacity: 0.2;
}

.enterprise-card-border-1 {
  position: absolute;
  pointer-events: none;
  user-select: none;
  inset: -1px;
  border-radius: inherit;
  box-sizing: border-box;
}

.enterprise-card-border-1::before {
  content: "";
  pointer-events: none;
  user-select: none;
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(130deg, rgba(167, 82, 250, 0.698), rgba(255, 255, 255, 0) 40%);
  -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
  -webkit-mask-composite: xor;
}

.enterprise-card-border-2 {
  position: absolute;
  pointer-events: none;
  user-select: none;
  inset: -1px;
  border-radius: inherit;
  box-sizing: border-box;
}

.enterprise-card-border-2::before {
  content: "";
  pointer-events: none;
  user-select: none;
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(332deg, rgba(167, 82, 250, 0.698), rgba(255, 255, 255, 0) 40%);
  -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
  -webkit-mask-composite: xor;
}

.enterprise-card-content {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
}

.enterprise-card-content-upper {
  padding: 72px 64px 0px 100px;
  display: flex;
  flex: initial;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  gap: 48px;
}

@media (max-width: 768px) {

  .enterprise-card-content-upper {
    padding: 40px 28px 40px 28px;
    display: flex;
    flex: initial;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 24px;
  }

  .enterprise-card-content-lower {
    display: none;
  }

  .enterprise-card-light-1,
  .enterprise-card-light-2 {
    display: none;
  }

  .enterprise-card-border-1 {
    display: none;
  }

  .enterprise-card-border-2 {
    display: none;
  }

  .enterprise-card-content-upper-button {
    width: 100%;

  }

  .enterprise-card-content-lower-1-item-1,
  .enterprise-card-content-lower-2-item-1,
  .enterprise-card-content-lower-1-item-2,
  .enterprise-card-content-lower-2-item-2 {
    min-width: none;
  }

}

@media (max-width: 1090px) {

  .enterprise-card-content-upper {
    padding: 40px 28px 0 28px;
    display: flex;
    flex: initial;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 24px;
  }

  .enterprise-card-content-lower {
    display: none;
  }

  .enterprise-card-light-1,
  .enterprise-card-light-2 {
    display: none;
  }

  .enterprise-card-border-1 {
    display: none;
  }

  .enterprise-card-border-2 {
    display: none;
  }

  .enterprise-card-content-upper-button {
    width: 100%;

  }

  .enterprise-card-content-lower-1-item-1,
  .enterprise-card-content-lower-2-item-1,
  .enterprise-card-content-lower-1-item-2,
  .enterprise-card-content-lower-2-item-2 {
    min-width: none;
  }

}

.enterprise-card-content-upper-text {
  display: flex;
  flex: initial;
  flex-direction: column;
  gap: 12px;
}

.enterprise-card-content-upper-button {
  margin-left: 48px;
  padding: 0px 32px;
  appearance: none;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  user-select: none;
  max-width: 100%;
  flex-shrink: 0;
  color: inherit;
  height: 48px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  gap: 8px;
  margin: 0px;
  font: inherit inherit inherit inherit inherit inherit inherit inherit inherit inherit inherit inherit inherit;
  transition: border 120ms ease 0s, background-color, color, box-shadow, opacity;
  border-radius: 9999px;
  padding: 0px 24px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  outline: none;
}

.enterprise-card-content-upper-button:hover {
  color: inherit;
  text-shadow: rgba(0, 0, 0, 0.56) 0px 3px 12px;
  box-shadow: rgba(80, 63, 205, 0.5) 0px 1px 40px;
  transition: all 0.1s ease-in-out;
}

.enterprise-card-content-upper-text-title {
  color: white;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-weight: 500;
  text-align: center;
}

.enterprise-card-content-upper-text-title-contact {
  color: white;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-weight: 500;
}

/* .enterprise-card-content-upper-title-decorated {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  color: unset;
  background: linear-gradient(92.88deg, rgb(190, 5, 255) 9.16%, rgb(169, 84, 255) 43.89%, rgb(167, 113, 255) 64.72%) text;
} */

.enterprise-card-content-upper-title-decorated::before {
  content: "";
  font: inherit;
  display: block;
  padding-bottom: 0.13em;
  margin-bottom: -0.13em;
}

.enterprise-card-content-upper-text-subtitle {
  color: #b4bcd0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.011px;
  text-align: center;
}

.enterprise-card-content-lower {
  max-width: 100%;
  margin-top: 36px;
  margin-bottom: 64px;
  width: min-content;
  -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black calc(100% - 40%), transparent 100%);
  display: flex;
  flex: initial;
  flex-direction: column;
  gap: 16px;
}

.enterprise-card-content-lower-1-item-1 {
  min-width: 92px;
  border-radius: 999px;
  color: #b4bcd099;
  font-size: 13px;
  height: 28px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0px 12px;
  white-space: nowrap;
  flex-shrink: 0;
}

.enterprise-card-content-lower-1-item-2 {
  border-radius: 999px;
  color: #b4bcd099;
  font-size: 13px;
  height: 28px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0px 12px;
  white-space: nowrap;
  flex-shrink: 0;
}

.enterprise-card-content-lower-1-item-3 {
  width: 100%;
  min-width: 92px;
  border-radius: 999px;
  color: #b4bcd099;
  font-size: 13px;
  height: 28px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0px 12px;
  white-space: nowrap;
  flex-shrink: 0;
}

.enterprise-card-content-lower-2-item-1 {
  min-width: 92px;
  border-radius: 999px;
  color: #b4bcd099;
  font-size: 13px;
  height: 28px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0px 12px;
  white-space: nowrap;
  flex-shrink: 0;
}

.enterprise-card-content-lower-2-item-2 {
  border-radius: 999px;
  color: #b4bcd099;
  font-size: 13px;
  height: 28px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0px 12px;
  white-space: nowrap;
  flex-shrink: 0;
}

.enterprise-card-content-lower-2-item-3 {
  width: 100%;
  min-width: 92px;
  border-radius: 999px;
  color: #b4bcd099;
  font-size: 13px;
  height: 28px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0px 12px;
  white-space: nowrap;
  flex-shrink: 0;
}

.row {
  display: flex;
  flex: initial;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.screen-overlay:hover {
  animation: pan-overlay 38s linear infinite;
}


@keyframes pan-overlay {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 0% -100%;
  }
}

.screen-content {
  border: 1px solid #15803d80;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.screen-content:hover {
  border: 1px solid green;
  scale: 1.02;
}

.screen-content-dark {
  border: 1px solid rgba(111, 83, 239, 0.7);
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.screen-content-dark:hover {
  border: 1px solid rgba(111 83 239);
  scale: 1.02;
}

/* .top-glowing-item {
  background: radial-gradient(ellipse 80% 50% at 50% -20%,rgba(78, 161, 136, 0.3), rgba(62, 185, 99, 0));
}

.top-dark-glowing-item {
  background: radial-gradient(ellipse 80% 50% at 50% -20%,rgba(120,119,198,0.3), rgba(255, 255, 255, 0));
} */

.dark-testing-main {
  background: radial-gradient(ellipse at center -10000px, rgba(120, 119, 198, 1) 0%, rgba(0, 2, 18, 1) 75%) no-repeat;
  rotate: 80deg;
  overflow: hidden;
  opacity: 0.9;
}

.dark-testing-pricing {
  background: radial-gradient(ellipse at center -10000px, rgba(120, 119, 198, 1) 0%, rgba(0, 2, 18, 1) 75%) no-repeat;
  overflow: hidden;
  opacity: 0.9;
}

.dark-testing {
  background: radial-gradient(ellipse at center -10000px, rgba(120, 119, 198, 1) 0%, rgba(0, 2, 18, 1) 75%) no-repeat;
}

.dark-testing-2 {
  background: radial-gradient(circle at center 300%, rgba(120, 119, 198, 1) -1%, rgba(0, 2, 18, 1) 80%) no-repeat;
}

.dark-testing-middle {
  background: radial-gradient(circle at center, rgb(63, 61, 192) -100%, rgba(0, 2, 18, 1) 60%) no-repeat;
}

.dark-testing-middle-calendly-automations {
  background: radial-gradient(circle at center, rgba(63, 61, 192, 0.5) -80%, rgba(6, 6, 6, 1) 50%) no-repeat;
}

.dark-testing-middle-benefit-left {
  background: radial-gradient(circle at left, rgba(120, 119, 198, 1) -400%, rgba(0, 2, 18, 1) 50%) no-repeat;

}

.dark-testing-middle-benefit-right {
  background: radial-gradient(circle at right, rgba(120, 119, 198, 1) -400%, rgba(0, 2, 18, 1) 50%) no-repeat;
}

.dark-testing-top {
  background: radial-gradient(circle at center 0%, rgba(120, 119, 198, 1) -300%, rgba(0, 2, 18, 1) 80%) no-repeat;
}

.dark-testing-top-contact {
  background: radial-gradient(ellipse at center 10%, rgba(120, 119, 198, 0.7) -300%, rgba(0, 2, 18, 1) 70%) no-repeat;
}


.dark-testing-bottom {
  background: radial-gradient(circle at center 300%, rgba(120, 119, 198, 1) -120%, rgba(0, 2, 18, 1) 80%) no-repeat;
}

.light-testing {
  background: radial-gradient(ellipse at center 0px, rgba(78, 161, 136, 1) 0%, #f7f7f7 75%) no-repeat;
}

.light-testing-2 {
  background: radial-gradient(circle at center 300%, rgba(78, 161, 136, 1) 0%, #f7f7f7 80%) no-repeat;
}


.glowing-item {
  box-shadow: 0px 0px 900px 300px rgba(45, 255, 196, 0.04);
}

.glowing-item-2 {
  box-shadow: 0px 0px 900px 300px rgba(45, 255, 196, 0.04);
}

.glowing-item-integrations {
  box-shadow: 0px 0px 300px 90px rgba(87, 30, 255, 0.57);
  /* background:linear-gradient(rgba(108, 56, 255, 0.8) 0%, rgba(181, 154, 255, 0.8) 100%) */
}

.glowing-item-steps {
  box-shadow: 0px 0px 300px 60px rgba(120, 119, 198, 0.37);
  /* background:linear-gradient(rgba(108, 56, 255, 0.8) 0%, rgba(181, 154, 255, 0.8) 100%) */
}

/* .corner-shadows {
  background:linear-gradient( to right, #060606, transparent 60px, transparent calc(100% - 60px), #060606 100% );
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* linear-gradient( to right, var(--bg), transparent var(--size), transparent calc(100% - var(--size)), var(--bg) 100% ); */

.ripple-animation {
  animation: ripple 1.5s linear infinite;
}

/* ripple effect */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(green, 0.1),
      0 0 0 20px rgba(green, 0.1),
      0 0 0 40px rgba(green, 0.1),
      0 0 0 60px rgba(green, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(green, 0.1),
      0 0 0 40px rgba(green, 0.1),
      0 0 0 60px rgba(green, 0.1),
      0 0 0 80px rgba(green, 0);
  }
}

.underline-curve::after {
  content: "";
  width: 100%;
  height: 100px;
  background-image: url("./assets/images/underline-curve.svg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -95px;

  left: 0;
}

.whyusdiv {
  padding: 50px 0;
  overflow: hidden;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 1206px;
  width: calc(100% - 20px);
  justify-content: center;
}

#cards:hover>.card>.card-border {
  opacity: 1;
}

.card {
  height: 260px;
  width: 300px;
  /* background-color: rgba(255, 255, 255, 0.18); */
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card>.card-border {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
  z-index: 2;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.03),
      transparent 40%);
  z-index: 3;
}

.card>.card-border {
  background: radial-gradient(1200px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.1),
      transparent 20%);
  z-index: 1;
}

.card>.card-content {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
  border-radius: inherit;
  height: calc(100% - 2px);
  margin: 1px;
  position: relative;
  width: calc(100% - 2px);
  z-index: 2;
}


@media (min-width: 768px) {

  #cards {
    max-width: 916px;
    width: calc(100% - 20px);
    justify-content: center;
    align-items: center;
    gap: 14px;
  }

  .card {
    height: 300px;
    width: 350px;
  }

}

@media (min-width: 1024px) {
  #cards {
    max-width: 1200px;
    width: calc(100% - 20px);
    justify-content: center;
    align-items: center;
    gap: 14px;
  }

  .card {
    height: 260px;
    width: 300px;
  }

}

.noShow {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(100px);
  transition: all 1s;
}

.noShowBall {
  opacity: 0;
  scale: 0;
  visibility: hidden;
  transition: all 1.2s;
  transform: blur(10px);
}

.noShowText {
  opacity: 0;
  scale: 0;
  visibility: hidden;
  transition: all 1.2s;
  transform: blur(10px);
  transform: translateY(200px);
}


/* @keyframes breathe {
  0% {
    transform: scale(1) translateY(0px);
  }
  80% {
    transform: scale(1.2) translateY(-10px);
  }
  100% {
    transform: scale(1) translateY(0px);
  }
} */

.scaleUp {
  opacity: 1;
  scale: 1;
  transform: blur(0px);
  visibility: visible;
}

.slideUp {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
  visibility: visible;
}

.ball:nth-child(1) {
  transition-delay: 2200ms;
}

.ball:nth-child(2) {
  transition-delay: 1050ms;
}

.ball:nth-child(3) {
  transition-delay: 2000ms;
}


.ball:nth-child(4) {
  transition-delay: 1800ms;
}

.ball:nth-child(5) {
  transition-delay: 1600ms;
}

.ball:nth-child(6) {
  transition-delay: 1400ms;
}

.ball:nth-child(7) {
  transition-delay: 200ms;
}

.ball:nth-child(8) {
  transition-delay: 1400ms;

}

.ball:nth-child(9) {
  transition-delay: 1600ms;
}

.ball:nth-child(10) {
  transition-delay: 1800ms;
}

.ball:nth-child(11) {
  transition-delay: 2000ms;
}

.text1 {
  transition-delay: 2200ms;
}

.text2 {
  transition-delay: 2500ms;
}

.text3 {
  transition-delay: 2800ms;
}

.integrations-bg {
  background: linear-gradient(180deg, rgb(0, 7, 49) 0%, rgba(6, 6, 6, 1) 100%);
}

.space {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  box-shadow: -42vw -4vh 0px 0px #fff, 25vw -41vh 0px 0px #fff, -20vw 49vh 0px 1px #fff, 5vw 40vh 1px 1px #fff, 29vw 19vh 1px 0px #fff, -44vw -13vh 0px 0px #fff, 46vw 41vh 0px 1px #fff, -3vw -45vh 0px 1px #fff, 47vw 35vh 1px 0px #fff, 12vw -8vh 1px 0px #fff, -34vw 48vh 1px 1px #fff, 32vw 26vh 1px 1px #fff, 32vw -41vh 1px 1px #fff, 0vw 37vh 1px 1px #fff, 34vw -26vh 1px 0px #fff, -14vw -49vh 1px 0px #fff, -12vw 45vh 0px 1px #fff, -44vw -33vh 0px 1px #fff, -13vw 41vh 0px 0px #fff, -36vw -11vh 0px 1px #fff, -23vw -24vh 1px 0px #fff, -38vw -27vh 0px 1px #fff, 16vw -19vh 0px 0px #fff, 28vw 33vh 1px 0px #fff, -49vw -4vh 0px 0px #fff, 16vw 32vh 0px 1px #fff, 36vw -18vh 1px 0px #fff, -25vw -30vh 1px 0px #fff, -23vw 24vh 0px 1px #fff, -2vw -35vh 1px 1px #fff, -25vw 9vh 0px 0px #fff, -15vw -34vh 0px 0px #fff, -8vw -19vh 1px 0px #fff, -20vw -20vh 1px 1px #fff, 42vw 50vh 0px 1px #fff, -32vw 10vh 1px 0px #fff, -23vw -17vh 0px 0px #fff, 44vw 15vh 1px 0px #fff, -40vw 33vh 1px 1px #fff, -43vw 8vh 0px 0px #fff, -48vw -15vh 1px 1px #fff, -24vw 17vh 0px 0px #fff, -31vw 50vh 1px 0px #fff, 36vw -38vh 0px 1px #fff, -7vw 48vh 0px 0px #fff, 15vw -32vh 0px 0px #fff, 29vw -41vh 0px 0px #fff, 2vw 37vh 1px 0px #fff, 7vw -40vh 1px 1px #fff, 15vw 18vh 0px 0px #fff, 25vw -13vh 1px 1px #fff, -46vw -12vh 1px 1px #fff, -18vw 22vh 0px 0px #fff, 23vw -9vh 1px 0px #fff, 50vw 12vh 0px 1px #fff, 45vw 2vh 0px 0px #fff, 14vw -48vh 1px 0px #fff, 23vw 43vh 0px 1px #fff, -40vw 16vh 1px 1px #fff, 20vw -31vh 0px 1px #fff, -17vw 44vh 1px 1px #fff, 18vw -45vh 0px 0px #fff, 33vw -6vh 0px 0px #fff, 0vw 7vh 0px 1px #fff, -10vw -18vh 0px 1px #fff, -19vw 5vh 1px 0px #fff, 1vw 42vh 0px 0px #fff, 22vw 48vh 0px 1px #fff, 39vw -8vh 1px 1px #fff, -6vw -42vh 1px 0px #fff, -47vw 34vh 0px 0px #fff, -46vw 19vh 0px 1px #fff, -12vw -32vh 0px 0px #fff, -45vw -38vh 0px 1px #fff, -28vw 18vh 1px 0px #fff, -38vw -46vh 1px 1px #fff, 49vw -6vh 1px 1px #fff, -28vw 18vh 1px 1px #fff, 10vw -24vh 0px 1px #fff, -5vw -11vh 1px 1px #fff, 33vw -8vh 1px 0px #fff, -16vw 17vh 0px 0px #fff, 18vw 27vh 0px 1px #fff, -8vw -10vh 1px 1px #fff;
  box-shadow: 24vw 9vh 1px 0px #fff, 12vw -24vh 0px 1px #fff, -45vw -22vh 0px 0px #fff, -37vw -40vh 0px 1px #fff, 29vw 19vh 0px 1px #fff, 4vw -8vh 0px 1px #fff, -5vw 21vh 1px 1px #fff, -27vw 26vh 1px 1px #fff, -47vw -3vh 1px 1px #fff, -28vw -30vh 0px 1px #fff, -43vw -27vh 0px 1px #fff, 4vw 22vh 1px 1px #fff, 36vw 23vh 0px 0px #fff, -21vw 24vh 1px 1px #fff, -16vw 2vh 1px 0px #fff, -16vw -6vh 0px 0px #fff, 5vw 26vh 0px 0px #fff, -34vw 41vh 0px 0px #fff, 1vw 42vh 1px 1px #fff, 11vw -13vh 1px 1px #fff, 48vw -8vh 1px 0px #fff, 22vw -15vh 0px 0px #fff, 45vw 49vh 0px 0px #fff, 43vw -27vh 1px 1px #fff, 20vw -2vh 0px 0px #fff, 8vw 22vh 0px 1px #fff, 39vw 48vh 1px 1px #fff, -21vw -11vh 0px 1px #fff, -40vw 45vh 0px 1px #fff, 11vw -30vh 1px 0px #fff, 26vw 30vh 1px 0px #fff, 45vw -29vh 0px 1px #fff, -2vw 18vh 0px 0px #fff, -29vw -45vh 1px 0px #fff, -7vw -27vh 1px 1px #fff, 42vw 24vh 0px 0px #fff, 45vw -48vh 1px 0px #fff, -36vw -18vh 0px 0px #fff, -44vw 13vh 0px 1px #fff, 36vw 16vh 0px 1px #fff, 40vw 24vh 0px 0px #fff, 18vw 11vh 0px 0px #fff, -15vw -23vh 1px 0px #fff, -24vw 48vh 0px 1px #fff, 27vw -45vh 1px 0px #fff, -2vw -24vh 0px 1px #fff, -15vw -28vh 0px 0px #fff, -43vw 13vh 1px 0px #fff, 7vw 27vh 1px 0px #fff, 47vw 5vh 0px 0px #fff, -45vw 15vh 1px 1px #fff, -5vw -28vh 0px 1px #fff, 38vw 25vh 1px 1px #fff, -39vw -1vh 1px 0px #fff, 5vw 0vh 1px 0px #fff, 49vw 13vh 0px 0px #fff, 48vw 10vh 0px 1px #fff, 19vw -28vh 0px 0px #fff, 4vw 7vh 0px 0px #fff, 21vw 21vh 1px 1px #fff, -15vw -15vh 0px 1px #fff, -6vw -42vh 1px 0px #fff, -15vw 48vh 1px 1px #fff, -23vw 25vh 1px 1px #fff, -48vw 25vh 0px 1px #fff, -31vw -19vh 0px 1px #fff, 4vw 37vh 1px 1px #fff, -43vw 28vh 0px 0px #fff, 3vw -25vh 0px 1px #fff, -39vw 14vh 0px 1px #fff, -40vw 31vh 0px 1px #fff, 35vw -36vh 1px 1px #fff, 16vw 49vh 0px 0px #fff, 6vw 39vh 0px 0px #fff, 3vw -35vh 0px 1px #fff, -44vw -2vh 1px 0px #fff, -6vw 21vh 1px 0px #fff, 48vw 9vh 1px 1px #fff, -43vw 30vh 1px 1px #fff, 29vw -12vh 1px 1px #fff, -48vw 13vh 1px 0px #fff, -42vw 32vh 1px 1px #fff, 34vw 15vh 1px 1px #fff, 29vw -37vh 1px 1px #fff, 28vw 2vh 0px 0px #fff;
  animation: zoom 9s alternate infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1) rotate(0deg)
  }

  100% {
    transform: scale(2);
  }
}

.group {
  border-bottom-color: rgb(81 95 224);
}

.savingsCard {
  background: linear-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.02))
}

.calcTable {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.savings-card-light-1 {
  left: -32px;
  top: -28px;
  pointer-events: none;
  user-select: none;
  position: absolute;
  width: 618px;
  height: 446px;
  transform: translateZ(0px);
  filter: blur(150px);
  background: rgb(168, 119, 198);
  opacity: 0.15;
}

.savings-card-light-2 {
  right: -60px;
  bottom: -10px;
  pointer-events: none;
  user-select: none;
  position: absolute;
  width: 718px;
  height: 546px;
  transform: translateZ(0px);
  filter: blur(150px);
  background: rgb(168, 119, 198);
  opacity: 0.15;
}


.animation-box-shadow-bottom {
  position: absolute;
  bottom: 30px;
  background: linear-gradient(0, #060606 0%, rgba(6, 6, 6, 0) 100%);
  width: 100%;
  height: 90px;
  z-index: 1;
}

.item-row-1 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transform: translateX(0%, 0%);
  will-change: transform;
  animation: 38s linear 0s infinite normal backwards running translateX-1;
}

.item-row-2 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transform: translateX(50%, 0%);
  will-change: transform;
  animation: 28s linear 0s infinite normal backwards running translateX-2;
}

.item-row-3 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transform: translateX(80%, 0%);
  will-change: transform;
  animation: 32s linear 0s infinite normal backwards running translateX-3;
}

.item-row-4 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transform: translateX(20%, 0%);
  will-change: transform;
  animation: 22s linear 0s infinite normal backwards running translateX-4;
}

.icons-light {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  /* background: linear-gradient(90deg, rgb(255, 248, 85) 0.04%, rgb(70, 227, 183) 46.04%); */
  pointer-events: none;
  filter: blur(0.7rem);
  /* opacity: 0.7; */
  overflow: visible;
}

.icons-box {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 25%;
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 1px 0px inset;
  background: linear-gradient(155.91deg, rgb(24, 25, 28) 21.92%, rgb(33, 34, 37) 77.49%);
  margin-right: 24px;
}

@media (min-width: 768px) {
  .icons-box {
    margin-right: 32px;
    width: 72px;
    height: 72px;
  }

  .animation-box::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(270deg, #060606 0%, rgba(6, 6, 6, 0) 100%);
    transform: rotate(-180deg);
    will-change: transform;
    width: 165px;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
  }

  .animation-box::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    background: linear-gradient(270deg, #060606 0%, rgba(6, 6, 6, 0) 100%);
    width: 165px;
    height: 100%;
    z-index: 1;
  }

}

.icons-img {
  width: auto;
  height: auto;
  max-height: 32px;
  max-width: 32px;
  position: relative;
  z-index: 1;
  overflow: visible;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
  flex-shrink: 0;
}

.automation-animation-logo-box {
  position: absolute;
  inset: 0px;
  margin: auto;
  z-index: 100;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-image: conic-gradient(rgba(255, 255, 255, 0.1) 100%, transparent 100%);
}

.automation-animation-logo-box::before {
  content: "";
  z-index: -1;
  inset: -100px;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(black 0px, #060606 30px, transparent 35%);
  animation: 0.7s linear 0s infinite normal none running rotate;
}

.automation-animation-logo {
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 35px;
  will-change: opacity;
}

@keyframes translateX-1 {
  0% {
    transform: translateX(0%, 0%);
  }

  100% {
    transform: translateX(calc(-100% + 0%))
  }
}

@keyframes translateX-2 {
  0% {
    transform: translateX(0%, 0%);
  }

  100% {
    transform: translateX(calc(-100% + 0%))
  }
}

@keyframes translateX-3 {
  0% {
    transform: translateX(0%, 0%);
  }

  100% {
    transform: translateX(calc(-100% + 0%))
  }
}

@keyframes translateX-4 {
  0% {
    transform: translateX(0%, 0%);
  }

  100% {
    transform: translateX(calc(-100% + 0%))
  }
}

.automations-header.sticking {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #131315;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.automation-list-grid[data-overflow-hidden="true"] {
  height: calc((2 * 138px) + ((2 - 1) * 16px) + 138px);
}

.automation-list-grid[data-overflow-hidden="false"] {
  height: auto;
}

.auto-height {
  height: auto !important;
}


.automation-list-grid {
  height: 138px;
  offset: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
  overflow: hidden;
  will-change: height;
  transition: height 400ms ease 0s;
  font-size: 1.1em;
  margin-top: 0.8em;
  margin-bottom: 1.2em;
  color: #f7f8f8;
}

@media (max-width: 700px) {
  .automation-list-grid {
    display: flex;
    flex-direction: column;
    gap: unset;
    margin-left: calc(-1 * max(env(safe-area-inset-left), 32px));
    /* margin-right: calc(-1 * max(env(safe-area-inset-right), 32px)); */
    padding-left: calc(1 * max(env(safe-area-inset-left), 32px));
    padding-bottom: 24px;
    height: auto !important;
  }

  .automation-list-grid>li>* {
    max-width: calc(100vw - max(env(safe-area-inset-left), 24px) - max(env(safe-area-inset-left), 24px));
  }

  .automation-list-showmore-shadow {
    visibility: hidden;
  }

  .automation-list-showmore-button {
    display: none;
  }

}

.automation-list-showmore-shadow {
  position: absolute;
  height: 138px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
  background: linear-gradient(to bottom, transparent 0px, #060606 120px);
  transition: transform 400ms ease 0s, opacity 400ms ease 0s;
  transform: translateY(0%);
  opacity: 1;
  pointer-events: all;
}

.automation-list-showmore-button {
  appearance: none;
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  -webkit-tap-highlight-color: transparent;
  color: #5e6ad2;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.006px;
  position: absolute;
  bottom: 8px;
  cursor: pointer;
  transition: opacity 400ms ease 0s, color 400ms ease 0s;
}

.automation-list-showmore-button:hover {
  color: #d0d6e0
}

.automation-list-item {
  text-align: left;
  flex-wrap: wrap;
  flex-direction: row;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-template-areas: "icon name request"
    "description description description";
  border-radius: 16px;
  background: #131315;
  border: 1px solid #222326;
  padding: 24px;
  transition: background 80ms ease 0s, border-color;
  grid-row-gap: 12px;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.automation-list-item-icon-div {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(40%, -40%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(rgba(108, 56, 255, 0.8) 0%, rgba(181, 154, 255, 0.8) 100%), rgb(196, 196, 196);
  display: flex;
  align-items: center;
  justify-content: center;
}

.automation-list-item-icon-grid-area {
  grid-area: icon / icon / icon / icon;
}

.automation-list-item-name {
  grid-area: name / name / name / name;
  margin-left: 12px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.016em;
  color: #f7f8f8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.automation-list-item-description {
  grid-area: description / description / description / description;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #8a8f98;
  min-height: 48px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  overflow-wrap: anywhere;
}

/* .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 260px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: all 0.5s ease;
  z-index: -1;
}

.card:hover::before {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.card:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);



  RIPPLE ANIMATION


    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid rgb(172, 142, 255);
    transform-origin: center center;
    animation-duration: 3400ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: backwards;
    animation-play-state: running;
    animation-name: jFSPqV;
    animation-delay: calc(500ms + var(--delay,0s));


} */