/* body * {
  @apply transition-colors duration-200;
} */

::-webkit-scrollbar {
  width: 4px;
  height: 0px;
  max-height: 4px;
}

::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 1);
}

html {
  /* scroll-behavior: smooth; */
  scroll-padding-top: 140px;
}

*::selection {
  background: #4f52b4;
  color: #fff;
}

body {
  margin: 0;
  color: #191c1de3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.glow-button:hover {
  box-shadow: 1px -1px 10px #166534, -1px 1px 10px #166534;
}

.glow-button-dark-princing:hover {
  box-shadow: 1px -1px 10px #1c6beb, -1px 1px 10px #3b82f6;
}

.glow-button-dark:hover {
  box-shadow: 1px -1px 10px #9333ea, -1px 1px 10px #3b82f6;
}

.glow-button-dark-stay {
  box-shadow: 1px -1px 10px #9333ea, -1px 1px 10px #3b82f6;
}

.glow-button-dark-stay:hover {
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%)
}